<div [ngClass]="['box', backgroundClass, isDarkTheme ? 'bg-primarytint3color' : '']">
  <div class="box-body" [ngClass]="isDarkTheme ? 'text-white' : ''">
    <blockquote class="blockquote mb-0 text-center">
      <h6 [ngClass]="isDarkTheme ? 'text-white' : ''">{{ quote }}</h6>
      <footer aria-label="footer" class="blockquote-footer mt-2 text-[14px] !ps-0" [ngClass]="isDarkTheme ? '!text-white opacity-70' : ''">
        {{ author }} in <cite title="Source Title">{{ source }}</cite>
      </footer>
    </blockquote>
  </div>
</div>
