<table class="  {{tableClass}}">
  <thead class="{{tableHead}}">
    <tr class="border-b !border-defaultborder dark:!border-defaultborder/10">
      @if(showCheckbox){
      <th class="{{checkboxClass}}">
        <input class="form-check-input"    
        (change)="onToggleSelectAll($event)" type="checkbox" aria-label="...">
      </th>
      }
      @for(column of columns;track $index){
      <th class="{{column.tableHeadColumn}}">{{ column.header }}</th>
      }
    </tr>
  </thead>
  <tbody class="{{tableBody}}">
    @for(row of data;track $index){

      <tr>
    @if(showCheckbox){
    <td>
      <input 
        class="form-check-input" 
        type="checkbox" 
        [checked]="allTasksChecked" [(ngModel)]="row.checked" >
    </td>
    @for(column of columns;track $index){

      <td>
        {{ row[column.field] }}
      </td>
    }
    }
  
  </tr>
    }
    <ng-content></ng-content>
  </tbody>
  @if(showFooter==true){
  <tfoot class="{{tableFooter}}">

      <th scope="row"> {{tableFoot}} </th>
      <td> United States </td>
      <td> 558 </td>
      <td><span class="badge bg-primary text-white">56%</span></td>
    <!-- }
    </tr> -->
  </tfoot>
  }
</table>