<!-- Start::page-header -->
<div class="flex items-center justify-between page-header-breadcrumb flex-wrap gap-2 single-page-header">
  <div>
      <nav aria-label="nav">
          <ol class="breadcrumb mb-1">
              <li class="breadcrumb-item">
                  <a href="javascript:void(0);">
                      {{title}}
                  </a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">{{title1}}</li>
          </ol>
      </nav>
      <h1 class="page-title font-medium text-lg mb-0">{{activeitem}}</h1>
  </div>
  <div class="btn-list">
      <button type="button" class="ti-btn bg-white dark:bg-bodybg border border-defaultborder dark:border-defaultborder/10 btn-wave !my-0">
          <i class="ri-filter-3-line align-middle me-1 leading-none"></i> Filter
      </button>
      <button type="button" class="ti-btn ti-btn-primary !border-0 btn-wave me-0">
          <i class="ri-share-forward-line me-1"></i> Share
      </button>
  </div>
</div>
<!-- End::page-header -->