
  <div class="box text-center">
    <div class="box-header !justify-start">
      <ul class="nav nav-tabs box-header-tabs ms-1 flex gap-5 mt-2 items-center"> <li class="nav-item"> <a class="nav-link active !py-2 !rounded-sm !px-4" aria-current="true" href="javascript:void(0);">Active</a> </li> <li class="nav-item"> <a class="nav-link" href="javascript:void(0);">Link</a> </li> <li class="nav-item"> <a class="nav-link disabled opacity-40">Disabled</a> </li> </ul>
    </div>
    <div class="box-body">
        <h6 class="box-title font-semibold">{{ title }}</h6>
        <p class="card-text mb-4">{{ text }}</p>
        <a href="javascript:void(0);" class="ti-btn ti-btn-primary">{{ buttonText }}</a>
    </div>
</div>


  