<div class="container">
  <div
    class="grid grid-cols-1 authentication authentication-basic items-center h-full place-items-center"
  >
    <div class="col-span-12 px-[0.5rem]">
      <div class="box my-6">
        <div class="box-body !p-[3rem]">
          <!-- logo -->
          <div class="mb-3 flex justify-center">
            <a >
              <img
      src="./assets/images/brand-logos/logo.png"
      alt="logo"
      class="block dark:hidden h-10 sm:h-12 lg:h-14 w-auto object-contain !m-0"
    />

              <img
                src="./assets/images/brand-logos/desktop-white.png"
                alt="logo"
                class="desktop-white"
              />
            </a>
          </div>

          <!-- single form -->
          <form [formGroup]="loginForm" (ngSubmit)="login()">
            <!-- optional inline error -->
            <p *ngIf="errorMessage" class="text-danger">
              {{ errorMessage }}
            </p>

            <p class="h4 font-semibold !mb-1">Sign In</p>
            <p class="mb-4 text-textmuted font-normal">Welcome back!</p>

            <!-- email -->
            <div class="mb-4">
              <label class="ti-form-label text-default">Email</label>
              <input
                type="email"
                formControlName="email"
                class="form-control"
                placeholder="Your email"
                required
              />
            </div>

            <!-- password -->
            <div class="mb-4">
              <label class="ti-form-label text-default">
                Password
                <a
                  routerLink="/authentication/reset-password/basic"
                  class="float-end text-danger opacity-50 font-medium text-[0.75rem]"
                  >Forget password?</a
                >
              </label>
              <div class="relative">
                <input
                  [type]="showPassword ? 'text' : 'password'"
                  formControlName="password"
                  class="form-control"
                  placeholder="Password"
                  required
                />
                <a
                  href="javascript:void(0);"
                  class="show-password-button"
                  (click)="togglePassword()"
                >
                  <i class="{{ toggleClass }} align-middle"></i>
                </a>
              </div>
            </div>

            <!-- submit -->
            <button
              type="submit"
              class="ti-btn ti-btn-primary w-full"
              [disabled]="loginForm.invalid"
            >
              Sign In
            </button>

            <!-- <p class="text-center mt-4 mb-0 text-textmuted">
              Don’t have an account?
              <a
                [routerLink]="'/authentication/sign-up/basic'"
                class="text-primary"
                >Sign Up</a
              >
            </p> -->
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
