<div id="hs-overlay-switcher" class="hs-overlay hidden ti-offcanvas ti-offcanvas-right" tabindex="-1">
  <div class="ti-offcanvas-header z-10 relative">
    <h5 class="ti-offcanvas-title">
      Switcher
    </h5>
    <button type="button"
      class="ti-btn flex-shrink-0 p-0 !mb-0  transition-none text-defaulttextcolor dark:text-defaulttextcolor/80 hover:text-gray-700 focus:ring-gray-400 focus:ring-offset-white  dark:hover:text-white/80 dark:focus:ring-white/10 dark:focus:ring-offset-white/10"
      data-hs-overlay="#hs-overlay-switcher">
      <span class="sr-only">Close modal</span>
      <i class="ri-close-circle-line leading-none text-lg"></i>
    </button>
  </div>
  <div class="ti-offcanvas-body !p-0 !border-b dark:border-white/10 z-10 relative !h-auto">
    <div class="flex rtl:space-x-reverse" aria-label="Tabs" role="tablist">
      <button type="button"
        class="hs-tab-active:bg-danger/20 w-full !py-2 !px-4 hs-tab-active:border-b-transparent text-[0.813rem] border-0 hs-tab-active:text-danger dark:hs-tab-active:bg-danger/20 dark:hs-tab-active:border-b-white/10 dark:hs-tab-active:text-danger -mb-px bg-white font-normal text-center  text-defaulttextcolor dark:text-defaulttextcolor/80 rounded-none hover:text-gray-700 dark:bg-bodybg dark:border-white/10  active"
        id="switcher-item-1" data-hs-tab="#switcher-1" aria-controls="switcher-1" role="tab">
        Theme Style
      </button>
      <button type="button"
        class="hs-tab-active:bg-danger/20 w-full !py-2 !px-4 hs-tab-active:border-b-transparent text-[0.813rem] border-0 hs-tab-active:text-danger dark:hs-tab-active:bg-danger/20 dark:hs-tab-active:border-b-white/10 dark:hs-tab-active:text-danger -mb-px  bg-white font-normal text-center  text-defaulttextcolor dark:text-defaulttextcolor/80 rounded-none hover:text-gray-700 dark:bg-bodybg dark:border-white/10  dark:hover:text-gray-300"
        id="switcher-item-2" data-hs-tab="#switcher-2" aria-controls="switcher-2" role="tab">
        Theme Colors
      </button>
    </div>
  </div>
  <div class="ti-offcanvas-body !p-0 !pb-[13rem]" id="switcher-body">
    <div id="switcher-1" role="tabpanel" aria-labelledby="switcher-item-1" class="">
      <div class="">
        <p class="switcher-style-head">Theme Color Mode:</p>
        <div class="grid grid-cols-3 switcher-style">
          <div class="flex items-center">
            <input type="radio" name="theme-style" class="ti-form-radio" id="switcher-light-theme" checked (click)="updateTheme('light')"
            [checked]="localdata['theme'] == 'light'">
            <label for="switcher-light-theme"
              class="text-[0.813rem] text-defaulttextcolor dark:text-defaulttextcolor/80 ms-2 font-normal">Light</label>
          </div>
          <div class="flex items-center">
            <input type="radio" name="theme-style" class="ti-form-radio" id="switcher-dark-theme" (click)="updateTheme('dark')"
            [checked]="localdata['theme'] == 'dark'">
            <label for="switcher-dark-theme"
              class="text-[0.813rem] text-defaulttextcolor dark:text-defaulttextcolor/80 ms-2 font-normal" >Dark</label>
          </div>
        </div>
      </div>
      <div>
        <p class="switcher-style-head">Directions:</p>
        <div class="grid grid-cols-3  switcher-style">
          <div class="flex items-center">
            <input type="radio" name="direction" class="ti-form-radio" id="switcher-ltr" checked (click)="updateDirection('ltr')"
            [checked]="localdata['direction'] != 'rtl'">
            <label for="switcher-ltr" class="text-[0.813rem] text-defaulttextcolor dark:text-defaulttextcolor/80 ms-2  font-normal">LTR</label>
          </div>
          <div class="flex items-center">
            <input type="radio" name="direction" class="ti-form-radio" id="switcher-rtl"  (click)="updateDirection('rtl')"
            [checked]="localdata['direction'] == 'rtl'">
            <label for="switcher-rtl" class="text-[0.813rem] text-defaulttextcolor dark:text-defaulttextcolor/80 ms-2  font-normal">RTL</label>
          </div>
        </div>
      </div>
      <div>
        <p class="switcher-style-head">Navigation Styles:</p>
        <div class="grid grid-cols-3  switcher-style">
          <div class="flex items-center">
            <input type="radio" name="navigation-style" class="ti-form-radio" id="switcher-vertical"  (click)="updatemenuType('vertical')"
            [checked]="localdata['navigationStyles'] != 'horizontal'">
            <label for="switcher-vertical"
              class="text-[0.813rem] text-defaulttextcolor dark:text-defaulttextcolor/80 ms-2  font-normal">Vertical</label>
          </div>
          <div class="flex items-center">
            <input type="radio" name="navigation-style" class="ti-form-radio" id="switcher-horizontal"  [checked]="localdata['navigationStyles'] == 'horizontal'"
            (click)="updatemenuType('horizontal')">
            <label for="switcher-horizontal"
              class="text-[0.813rem] text-defaulttextcolor dark:text-defaulttextcolor/80 ms-2  font-normal">Horizontal</label>
          </div>
        </div>
      </div>
      <div>
        <p class="switcher-style-head">Navigation Menu Style:</p>
        <div class="grid grid-cols-2 gap-2 switcher-style">
          <div class="flex">
            <input type="radio" name="navigation-data-menu-styles" class="ti-form-radio" id="switcher-menu-click"  (click)="updatemenuStyle('menu-click')"
            [checked]="localdata['menuStyles'] == 'menu-click'"
              >
            <label for="switcher-menu-click" class="text-[0.813rem] text-defaulttextcolor dark:text-defaulttextcolor/80 ms-2  font-normal">Menu
              Click</label>
          </div>
          <div class="flex">
            <input type="radio" name="navigation-data-menu-styles" class="ti-form-radio" id="switcher-menu-hover"  (click)="updatemenuStyle('menu-hover')"
            [checked]="localdata['menuStyles'] == 'menu-hover'">
            <label for="switcher-menu-hover" class="text-[0.813rem] text-defaulttextcolor dark:text-defaulttextcolor/80 ms-2  font-normal">Menu
              Hover</label>
          </div>
          <div class="flex">
            <input type="radio" name="navigation-data-menu-styles" class="ti-form-radio" id="switcher-icon-click" (click)="updatemenuStyle('icon-click')"
            [checked]="localdata['menuStyles'] == 'icon-click'">
            <label for="switcher-icon-click" class="text-[0.813rem] text-defaulttextcolor dark:text-defaulttextcolor/80 ms-2  font-normal">Icon
              Click</label>
          </div>
          <div class="flex">
            <input type="radio" name="navigation-data-menu-styles" class="ti-form-radio" id="switcher-icon-hover"  (click)="updatemenuStyle('icon-hover')"
            [checked]="localdata['menuStyles'] == 'icon-hover'">
            <label for="switcher-icon-hover" class="text-[0.813rem] text-defaulttextcolor dark:text-defaulttextcolor/80 ms-2  font-normal">Icon
              Hover</label>
          </div>
        </div>
      </div>
      <div class=" sidemenu-layout-styles">
        <p class="switcher-style-head">Sidemenu Layout Syles:</p>
        <div class="grid grid-cols-2 gap-2 switcher-style">
          <div class="flex">
            <input type="radio" name="sidemenu-layout-styles" class="ti-form-radio" id="switcher-default-menu" (click)="updatelayoutStyles('default')"
            [checked]="localdata['layoutStyles'] == 'default'">
            <label for="switcher-default-menu"
              class="text-[0.813rem] text-defaulttextcolor dark:text-defaulttextcolor/80 ms-2  font-normal ">Default
              Menu</label>
          </div>
          <div class="flex">
            <input type="radio" name="sidemenu-layout-styles" class="ti-form-radio" id="switcher-closed-menu"  (click)="updatelayoutStyles('closed')"
            [checked]="localdata['layoutStyles'] == 'closed'">
            <label for="switcher-closed-menu" class="text-[0.813rem] text-defaulttextcolor dark:text-defaulttextcolor/80 ms-2  font-normal ">
              Closed
              Menu</label>
          </div>
          <div class="flex">
            <input type="radio" name="sidemenu-layout-styles" class="ti-form-radio" id="switcher-icontext-menu" (click)="updatelayoutStyles('icontext')"
            [checked]="localdata['layoutStyles'] == 'icontext'">
            <label for="switcher-icontext-menu" class="text-[0.813rem] text-defaulttextcolor dark:text-defaulttextcolor/80 ms-2  font-normal ">Icon
              Text</label>
          </div>
          <div class="flex">
            <input type="radio" name="sidemenu-layout-styles" class="ti-form-radio" id="switcher-icon-overlay"  (click)="updatelayoutStyles('overlay')"
            [checked]="localdata['layoutStyles'] == 'overlay'">
            <label for="switcher-icon-overlay" class="text-[0.813rem] text-defaulttextcolor dark:text-defaulttextcolor/80 ms-2  font-normal ">Icon
              Overlay</label>
          </div>
          <div class="flex">
            <input type="radio" name="sidemenu-layout-styles" class="ti-form-radio" id="switcher-detached"  (click)="updatelayoutStyles('detached')"
            [checked]="localdata['layoutStyles'] == 'detached'">
            <label for="switcher-detached"
              class="text-[0.813rem] text-defaulttextcolor dark:text-defaulttextcolor/80 ms-2  font-normal ">Detached</label>
          </div>
          <div class="flex">
            <input type="radio" name="sidemenu-layout-styles" class="ti-form-radio" id="switcher-double-menu" (click)="updatelayoutStyles('doublemenu')"
            [checked]="localdata['layoutStyles'] == 'doublemenu'">
            <label for="switcher-double-menu" class="text-[0.813rem] text-defaulttextcolor dark:text-defaulttextcolor/80 ms-2  font-normal">Double
              Menu</label>
          </div>
        </div>
      </div>
      <div>
        <p class="switcher-style-head">Page Styles:</p>
        <div class="grid grid-cols-3  switcher-style">
          <div class="flex">
            <input type="radio" name="data-page-styles" class="ti-form-radio" id="switcher-regular" (click)="updatepageStyles('regular')"
            [checked]="localdata['pageStyles'] != 'classic'">
            <label for="switcher-regular"
              class="text-[0.813rem] text-defaulttextcolor dark:text-defaulttextcolor/80 ms-2  font-normal">Regular</label>
          </div>
          <div class="flex">
            <input type="radio" name="data-page-styles" class="ti-form-radio" id="switcher-classic" (click)="updatepageStyles('classic')"
            [checked]="localdata['pageStyles'] == 'classic'">
            <label for="switcher-classic"
              class="text-[0.813rem] text-defaulttextcolor dark:text-defaulttextcolor/80 ms-2  font-normal">Classic</label>
          </div>
          <div class="flex">
            <input type="radio" name="data-page-styles" class="ti-form-radio" id="switcher-modern" (click)="updatepageStyles('modern')"
            [checked]="localdata['pageStyles'] == 'modern'">
            <label for="switcher-modern"
              class="text-[0.813rem] text-defaulttextcolor dark:text-defaulttextcolor/80 ms-2  font-normal"> Modern</label>
          </div>
        </div>
      </div>
      <div>
        <p class="switcher-style-head">Layout Width Styles:</p>
        <div class="grid grid-cols-3 switcher-style">
          <div class="flex">
            <input type="radio" name="layout-width" class="ti-form-radio" id="switcher-full-width"  (click)="updatewidthStyles('full-width')"
            [checked]="localdata['widthStyles'] != 'full-width'">
            <label for="switcher-full-width"
              class="text-[0.813rem] text-defaulttextcolor dark:text-defaulttextcolor/80 ms-2  font-normal">FullWidth</label>
          </div>
          <div class="flex">
            <input type="radio" name="layout-width" class="ti-form-radio" id="switcher-boxed" (click)="updatewidthStyles('boxed')"
            [checked]="localdata['widthStyles'] == 'boxed'">
            <label for="switcher-boxed" class="text-[0.813rem] text-defaulttextcolor dark:text-defaulttextcolor/80 ms-2  font-normal">Boxed</label>
          </div>
        </div>
      </div>
      <div>
        <p class="switcher-style-head">Menu Positions:</p>
        <div class="grid grid-cols-3  switcher-style">
          <div class="flex">
            <input type="radio" name="data-menu-positions" class="ti-form-radio" id="switcher-menu-fixed" (click)="updatemenuPosition('fixed')"
            [checked]="localdata['menuPosition'] != 'scrollable'">
            <label for="switcher-menu-fixed"
              class="text-[0.813rem] text-defaulttextcolor dark:text-defaulttextcolor/80 ms-2  font-normal">Fixed</label>
          </div>
          <div class="flex">
            <input type="radio" name="data-menu-positions" class="ti-form-radio" id="switcher-menu-scroll" (click)="updatemenuPosition('scrollable')"
            [checked]="localdata['menuPosition'] == 'scrollable'">
            <label for="switcher-menu-scroll"
              class="text-[0.813rem] text-defaulttextcolor dark:text-defaulttextcolor/80 ms-2  font-normal">Scrollable </label>
          </div>
        </div>
      </div>
      <div>
        <p class="switcher-style-head">Header Positions:</p>
        <div class="grid grid-cols-3 switcher-style">
          <div class="flex">
            <input type="radio" name="data-header-positions" class="ti-form-radio" id="switcher-header-fixed" (click)="updateheaderPosition('fixed')"
            [checked]="localdata['headerPosition'] != 'scrollable'">
            <label for="switcher-header-fixed" class="text-[0.813rem] text-defaulttextcolor dark:text-defaulttextcolor/80 ms-2  font-normal">
              Fixed</label>
          </div>
          <div class="flex">
            <input type="radio" name="data-header-positions" class="ti-form-radio" id="switcher-header-scroll" (click)="updateheaderPosition('scrollable')"
            [checked]="localdata['headerPosition'] == 'scrollable'">
            <label for="switcher-header-scroll"
              class="text-[0.813rem] text-defaulttextcolor dark:text-defaulttextcolor/80 ms-2  font-normal">Scrollable
            </label>
          </div>
        </div>
      </div>
    </div>
    <div id="switcher-2" class="hidden" role="tabpanel" aria-labelledby="switcher-item-2">
      <div class="theme-colors">
        <p class="switcher-style-head">Menu Colors:</p>
        <div class="flex switcher-style space-x-3 rtl:space-x-reverse">
          <div class="hs-tooltip ti-main-tooltip ti-form-radio switch-select ">
            <input class="hs-tooltip-toggle ti-form-radio color-input color-white" type="radio" name="menu-colors"
              id="switcher-menu-light"  (click)="updatemenuColor('light')"
              [checked]="localdata['menuColor'] == 'light'">
            <span
              class="hs-tooltip-content ti-main-tooltip-content !py-1 !px-2 !bg-black text-xs font-medium !text-white shadow-sm dark:!bg-black"
              role="tooltip">
              Light Menu
            </span>
          </div>
          <div class="hs-tooltip ti-main-tooltip ti-form-radio switch-select ">
            <input class="hs-tooltip-toggle ti-form-radio color-input color-dark" type="radio" name="menu-colors"
              id="switcher-menu-dark"  (click)="updatemenuColor('dark')"
              [checked]="localdata['menuColor'] == 'dark'">
            <span
              class="hs-tooltip-content ti-main-tooltip-content !py-1 !px-2 !bg-black text-xs font-medium !text-white shadow-sm dark:!bg-black"
              role="tooltip">
              Dark Menu
            </span>
          </div>
          <div class="hs-tooltip ti-main-tooltip ti-form-radio switch-select ">
            <input class="hs-tooltip-toggle ti-form-radio color-input color-primary" type="radio" name="menu-colors"
              id="switcher-menu-primary"  (click)="updatemenuColor('color')"
              [checked]="localdata['menuColor'] == 'color'">
            <span
              class="hs-tooltip-content ti-main-tooltip-content !py-1 !px-2 !bg-black text-xs font-medium !text-white shadow-sm dark:!bg-black"
              role="tooltip">
              Color Menu
            </span>
          </div>
          <div class="hs-tooltip ti-main-tooltip ti-form-radio switch-select ">
            <input class="hs-tooltip-toggle ti-form-radio color-input color-gradient" type="radio" name="menu-colors"
              id="switcher-menu-gradient"  (click)="updatemenuColor('gradient')"
              [checked]="localdata['menuColor'] == 'gradient'">
            <span
              class="hs-tooltip-content ti-main-tooltip-content !py-1 !px-2 !bg-black text-xs font-medium !text-white shadow-sm dark:!bg-black"
              role="tooltip">
              Gradient Menu
            </span>
          </div>
          <div class="hs-tooltip ti-main-tooltip ti-form-radio switch-select ">
            <input class="hs-tooltip-toggle ti-form-radio color-input color-transparent" type="radio" name="menu-colors"
              id="switcher-menu-transparent"  (click)="updatemenuColor('transparent')"
              [checked]="localdata['menuColor'] == 'transparent'">
            <span
              class="hs-tooltip-content ti-main-tooltip-content !py-1 !px-2 !bg-black text-xs !font-medium !text-white shadow-sm dark:!bg-black"
              role="tooltip">
              Transparent Menu
            </span>
          </div>
        </div>
        <div class="px-4 text-textmuted dark:text-textmuted/50 text-[.6875rem]"><b class="me-2 font-normal">Note:</b>If you want to change color Menu
          dynamically
          change from below Theme Primary color picker.</div>
      </div>
      <div class="theme-colors">
        <p class="switcher-style-head">Header Colors:</p>
        <div class="flex switcher-style space-x-3 rtl:space-x-reverse">
          <div class="hs-tooltip ti-main-tooltip ti-form-radio switch-select ">
            <input class="hs-tooltip-toggle ti-form-radio color-input color-white !border" type="radio" name="header-colors"
              id="switcher-header-light" (click)="updateheaderColor('light')"
              [checked]="localdata['headerColor'] == 'light'">
            <span
              class="hs-tooltip-content ti-main-tooltip-content !py-1 !px-2 !bg-black text-xs font-medium !text-white shadow-sm dark:!bg-black"
              role="tooltip">
              Light Header
            </span>
          </div>
          <div class="hs-tooltip ti-main-tooltip ti-form-radio switch-select ">
            <input class="hs-tooltip-toggle ti-form-radio color-input color-dark" type="radio" name="header-colors"
              id="switcher-header-dark" (click)="updateheaderColor('dark')"
              [checked]="localdata['headerColor'] == 'dark'">
            <span
              class="hs-tooltip-content ti-main-tooltip-content !py-1 !px-2 !bg-black text-xs font-medium !text-white shadow-sm dark:!bg-black"
              role="tooltip">
              Dark Header
            </span>
          </div>
          <div class="hs-tooltip ti-main-tooltip ti-form-radio switch-select ">
            <input class="hs-tooltip-toggle ti-form-radio color-input color-primary" type="radio" name="header-colors"
              id="switcher-header-primary" (click)="updateheaderColor('color')"
              [checked]="localdata['headerColor'] == 'color'">
            <span
              class="hs-tooltip-content ti-main-tooltip-content !py-1 !px-2 !bg-black text-xs font-medium !text-white shadow-sm dark:!bg-black"
              role="tooltip">
              Color Header
            </span>
          </div>
          <div class="hs-tooltip ti-main-tooltip ti-form-radio switch-select ">
            <input class="hs-tooltip-toggle ti-form-radio color-input color-gradient" type="radio" name="header-colors"
              id="switcher-header-gradient" (click)="updateheaderColor('gradient')"
              [checked]="localdata['headerColor'] == 'gradient'">
            <span
              class="hs-tooltip-content ti-main-tooltip-content !py-1 !px-2 !bg-black text-xs font-medium !text-white shadow-sm dark:!bg-black"
              role="tooltip">
              Gradient Header
            </span>
          </div>
          <div class="hs-tooltip ti-main-tooltip ti-form-radio switch-select">
            <input class="hs-tooltip-toggle ti-form-radio color-input color-transparent" type="radio"
              name="header-colors" id="switcher-header-transparent" (click)="updateheaderColor('transparent')"
              [checked]="localdata['headerColor'] == 'transparent'">
            <span
              class="hs-tooltip-content ti-main-tooltip-content !py-1 !px-2 !bg-black text-xs font-medium !text-white shadow-sm dark:!bg-black"
              role="tooltip">
              Transparent Header
            </span>
          </div>
        </div>
        <div class="px-4 text-textmuted dark:text-textmuted/50 text-[.6875rem]">
          <b class="me-2 !font-normal">Note:</b>If you want to change color Header dynamically change from below Theme Primary color picker.
        </div>
      </div>
       <div class="theme-colors">
        <p class="switcher-style-head">Theme Primary:</p>
        <div class="flex switcher-style space-x-3 rtl:space-x-reverse">
          <div class="ti-form-radio switch-select">
            <input class="ti-form-radio color-input color-primary-1" type="radio" name="theme-primary"
              id="switcher-primary" (click)="updateprimary('118, 71, 229')">
          </div>
          <div class="ti-form-radio switch-select">
            <input class="ti-form-radio color-input color-primary-2" type="radio" name="theme-primary"
              id="switcher-primary1" (click)="updateprimary('63, 75, 236')"
                    [checked]="localdata['themePrimary'] == '63, 75, 236'">
          </div>
          <div class="ti-form-radio switch-select">
            <input class="ti-form-radio color-input color-primary-3" type="radio" name="theme-primary"
              id="switcher-primarytint2color" (click)="updateprimary('55, 125, 206')"
                    [checked]="localdata['themePrimary'] == '55, 125, 206'">
          </div>
          <div class="ti-form-radio switch-select">
            <input class="ti-form-radio color-input color-primary-4" type="radio" name="theme-primary"
              id="switcher-primarytint3color" (click)="updateprimary('1, 159, 162')"
                    [checked]="localdata['themePrimary'] == '1, 159, 162'">
          </div>
          <div class="ti-form-radio switch-select">
            <input class="ti-form-radio color-input color-primary-5" type="radio" name="theme-primary"
              id="switcher-primary4" (click)="updateprimary('139, 149, 4')"
                    [checked]="localdata['themePrimary'] == '139, 149, 4'">
          </div>
          <div class="ti-form-radio switch-select ps-0 mt-1 color-primary-light">
            <div class="pickr-container-primary">
              <div class="pickr">
                <button type="button" type="button" role="button" aria-label="toggle color picker dialog"
                    class="color-bg-transparent pcr-button"
                     style="--pcr-color: rgba(132, 90, 223, 1);"
                     [style.background]="defaultPrimary" [cpAlphaChannel]="'disabled'"
                     [cpOutputFormat]="'rgba'" [(colorPicker)]="defaultPrimary"
                     (cpSliderDragEnd)="dynamicLightPrimary($event)"></button>
            </div>
            </div>
          </div>
        </div>
      </div>
      <div class="theme-colors">
        <p class="switcher-style-head">Theme Background:</p>
        <div class="flex switcher-style space-x-3 rtl:space-x-reverse">
          <div class="ti-form-radio switch-select">
            <input class="ti-form-radio color-input color-bg-1" type="radio" name="theme-background"
              id="switcher-background" (click)="
              updateBackground({
                  main :  '12 23 91',  secondary :'17 31 96',
                  accent: '17 31 96', overlay:'rgba(255,255,255,0.1)',
                  theme:'dark'
              })
            "  [checked]="localdata['themeBackground']?.['main'] == '12 23 91'" >
          </div>
          <div class="ti-form-radio switch-select">
            <input class="ti-form-radio color-input color-bg-2" type="radio" name="theme-background"
              id="switcher-background1"(click)="
              updateBackground(
                    {main : '50 11 110',
                    secondary : '57 16 120',
                    accent : '57 16 120',
                    overlay: 'rgba(255,255,255,0.1)',theme: 'dark'}
                )
              " [checked]="localdata['themeBackground']?.['main'] == '50 11 110'">
          </div>
          <div class="ti-form-radio switch-select">
            <input class="ti-form-radio color-input color-bg-3" type="radio" name="theme-background"
              id="switcher-background2"(click)="
              updateBackground({
                main: '8 81 113', 
            secondary: '27 101 133',
            accent: '27 101 133',
            overlay: 'rgba(255,255,255,0.1)',
            theme: 'dark'
})
          
          " [checked]="localdata['themeBackground']?.['main'] == '8 81 113'">
          </div>
          <div class="ti-form-radio switch-select">
            <input class="ti-form-radio color-input color-bg-4" type="radio" name="theme-background"
              id="switcher-background3"(click)=" 
              updateBackground({
                main : '3 81 60', formControl:'8 99 75',  secondary :'8 99 75',accent: '8 99 75', overlay:'rgba(255,255,255,0.1)',
                theme:'dark',gray: 'rgba(255,255,255,0.1)'
            })
            " [checked]="localdata['themeBackground']?.['main'] =='3 81 60'">
          </div>
          <div class="ti-form-radio switch-select">
            <input class="ti-form-radio color-input color-bg-5" type="radio" name="theme-background"
              id="switcher-background4"(click)="updateBackground({
                main : '73 78 1', formControl:'84 89 4', secondary :'84 89 4',accent: '84 89 4', overlay:'rgba(255,255,255,0.1)', 
                theme:'dark',gray: 'rgba(255,255,255,0.1)',
            })"  [checked]="localdata['themeBackground']?.['main'] == '73 78 1'">
          </div>
          <div class="ti-form-radio switch-select ps-0 mt-1 color-bg-transparent">
            <div class="theme-container-background hidden"></div>
            <div class="pickr-container-background">
              <div class="pickr">
                <button type="button" role="button" aria-label="toggle color picker dialog"
                    class="color-bg-transparent pcr-button"
                    style="--pcr-color: rgba(132, 90, 223, 1);"
                    [style.background]="defaultBg" [cpAlphaChannel]="'disabled'"
                    [cpOutputFormat]="'rgba'" [(colorPicker)]="defaultBg"
                    (cpSliderDragEnd)="dynamicTranparentBgPrimary($event)"></button>
            </div>
            </div>
          </div>
        </div>
      </div>
      <div class="menu-image theme-colors">
        <p class="switcher-style-head">Menu With Background Image:</p>
        <div class="flex switcher-style space-x-3 rtl:space-x-reverse flex-wrap gap-3">
          <div class="ti-form-radio switch-select">
            <input (click)="updateBgImage('bgimg1')"  class="ti-form-radio bgimage-input bg-img1" type="radio" name="theme-images" id="switcher-bg-img">
          </div>
          <div class="ti-form-radio switch-select">
            <input  (click)="updateBgImage('bgimg2')" class="ti-form-radio bgimage-input bg-img2" type="radio" name="theme-images" id="switcher-bg-img1">
          </div>
          <div class="ti-form-radio switch-select">
            <input (click)="updateBgImage('bgimg3')" class="ti-form-radio bgimage-input bg-img3" type="radio" name="theme-images" id="switcher-bg-img2">
          </div>
          <div class="ti-form-radio switch-select">
            <input (click)="updateBgImage('bgimg4')"  class="ti-form-radio bgimage-input bg-img4" type="radio" name="theme-images" id="switcher-bg-img3">
          </div>
          <div class="ti-form-radio switch-select">
            <input (click)="updateBgImage('bgimg5')" class="ti-form-radio bgimage-input bg-img5" type="radio" name="theme-images" id="switcher-bg-img4">
          </div>
        </div>
      </div>
    </div>
  </div>
   <div class="ti-offcanvas-footer sm:flex justify-between">
    <a (click)="reset()" href="javascript:void(0);" id="reset-all" class="w-full ti-btn ti-btn-danger m-1">Reset</a>
  </div>
</div>