<div class="box landing-card border shadow-none text-center border-defaultborder dark:border-defaultborder/10">
<div class="box-body !p-[2rem]">
    <div class="mb-4">
        <span
            class="avatar avatar-lg bg-{{bgColorClass}}/10 svg-{{bgColorClass}} avatar-rounded border-4 {{borderColorClass}}/50" [innerHTML]="svg">
        </span>
    </div>
    <h6 class="font-semibold">{{title}}</h6>
    <p class="text-textmuted dark:text-textmuted/50 mb-4">{{description}}</p>
    <a href="javascript:void(0);"
        class="font-medium ti-btn ti-btn-sm ti-btn-primary">{{buttonText}}<i
            class="ti ti-arrow-narrow-right text-base align-bottom"></i></a>
</div>
</div>