<div class="box card-style-2">
  <div class="box-body p-0">
      <div class="top-left-badge">
        @if(product.trending){
          <div class="badge bg-{{product.color}} d-inline-flex gap-1 leading-none items-center text-white mb-1">
              <div class="badge-icon"><i class="ti ti-bolt"></i></div>
              <div class="badge-text">Trending</div>
          </div>
        }
        @if(product.discount){
          <div class="badge bg-{{product.color1}} inline-block">{{product.discount }}</div>
        }
      </div>
      <div class="card-img-top border-b border-dashed dark:border-defaultborder/10">
          <div class="btns-container-1 items-center gap-1">
            <div class="hs-tooltip inline-block">
                <a href="javascript:void(0);" class="hs-tooltip-toggle ti-btn ti-btn-icon !rounded-full bg-primary hs-tooltip-toggle text-white transition">
                    <i class="bx bx-search"></i>
                  <span class="hs-tooltip-content ti-main-tooltip-content hs-tooltip-shown:opacity-100 !translate-x-[67px] !translate-y-[-39px] hs-tooltip-shown:visible opacity-0 transition-opacity inline-block !absolute invisible z-10 py-1 px-2 !bg-black !text-xs !font-medium !text-white shadow-sm dark:bg-slate-700" role="tooltip">
                    Quick View
                  </span>
                </a>
            </div>
            <div class="hs-tooltip inline-block">
                <a [routerLink]="['/apps/ecommerce/wishlist']" class="hs-tooltip-toggle ti-btn ti-btn-icon !rounded-full bg-primarytint1color text-white transition">
                    <i class="bx bx-heart align-center"></i>
                  <span class="hs-tooltip-content ti-main-tooltip-content hs-tooltip-shown:opacity-100 !translate-x-[96px] !translate-y-[-39px] hs-tooltip-shown:visible opacity-0 transition-opacity inline-block !absolute invisible z-10 py-1 px-2 !bg-black !text-xs !font-medium !text-white shadow-sm dark:bg-slate-700" role="tooltip">
                    Add To Wishlist
                  </span>
                </a>
            </div>
            <div class="hs-tooltip inline-block">
                <a href="javascript:void(0);" class="hs-tooltip-toggle ti-btn ti-btn-icon !rounded-full bg-info text-white transition">
                    <i class="bx bx-adjust"></i>
                  <span class="hs-tooltip-content ti-main-tooltip-content hs-tooltip-shown:opacity-100 !translate-x-[154px] !translate-y-[-39px] hs-tooltip-shown:visible opacity-0 transition-opacity inline-block !absolute invisible z-10 py-1 px-2 !bg-black !text-xs !font-medium !text-white shadow-sm dark:bg-slate-700" role="tooltip">
                    Compare
                  </span>
                </a>
            </div>
          </div>
          <div class="img-box-2 p-2">
              <img [src]="product.imageUrl" alt="img" class="scale-img img-fluid w-full bg-primary/10  rounded">
          </div>
          <div class="hs-tooltip ti-main-tooltip [--placement:top] btn-style-1">
              <a [routerLink]="['/apps/ecommerce/cart']" class="ti-btn bg-primary text-white rounded-full ti-btn-icon" title="Add to Cart">
                  <i class="bx bxs-cart-add text-lg"></i>
                  <span
                      class="hs-tooltip-content ti-main-tooltip-content py-1 px-2 !bg-black !text-xs !font-medium !text-white shadow-sm dark:bg-slate-700"
                      role="tooltip">
                    Add To Cart
                  </span>
              </a>
          </div>
      </div>
      <div class="p-4">
          <h6 class="mb-1 font-semibold text-[1rem]"><a [routerLink]="['/apps/ecommerce/productdetails']">{{ product.title }}</a></h6>
          <div class="flex align-items-end justify-between flex-wrap">
              <div class="grow">
                  <div class="flex items-baseline text-[11px]">
                      <div class="min-w-fit-content flex flex-wrap gap-1">
                          <span class="text-warning"><i class="bi bi-star-fill"></i></span>
                          <span class="text-warning"><i class="bi bi-star-fill"></i></span>
                          <span class="text-warning"><i class="bi bi-star-fill"></i></span>
                          <span class="text-warning"><i class="bi bi-star-half"></i></span>
                      </div>
                      <p class="mb-1 ms-1 min-w-fit-content text-textmuted dark:text-textmuted/50">
                          <span class="me-1">({{ product.ratingsCount }})</span>
                          <span>Ratings</span>
                      </p>
                  </div>
                  <a href="javascript:void(0);" class="text-primarytint1color text-[13px] font-semibold">{{ product.series }}</a>
              </div>
              <div class="min-w-fit-content">
                  <h5 class="font-semibold text-primary mb-0">{{ product.price }}</h5>
                  @if(product.originalPrice){
                  <span class="text-[13px] ms-2 text-textmuted dark:text-textmuted/50 text-decoration-line-through">{{ product.originalPrice }}</span>
                  }
              </div>
          </div>
      </div>
  </div>
</div>