<div class="box landing-card">
  <div class="box-body text-center !p-[2rem]">
      <div class="mb-4">
          <div
              class="p-2 border inline-block border-{{bgColor}}/20 bg-{{bgColor}}/10 dark:border-white/10 rounded-full">
              <span class="avatar avatar-lg avatar-rounded bg-{{bgColor}} svg-white" [innerHTML]="svg">
              </span>
          </div>
      </div>
      <h6 class="!font-semibold mb-2">{{title}}</h6>
      <p class="text-textmuted dark:text-textmuted/50 mb-0">{{description}}</p>
  </div>
</div>