
  <div class="box text-center">
    <div class="box-header border-b-0 pb-0">
        <span class="ms-auto shadow-lg text-[17px]"><i
                class="ri-heart-fill text-danger"></i></span>
    </div>
    <div class="box-body pt-1">
        <span class="avatar avatar-xl avatar-rounded me-2 mb-2">
            <img [src]="avatar" alt="img">
        </span>
        <div class="font-medium text-[1rem]">{{ name }}</div>
        <p class="mb-4 text-textmuted dark:text-textmuted/50 text-[11px]">{{jobTitle}}</p>
        <div class="btn-list">
            <button aria-label="button" type="button" class="ti-btn ti-btn-icon ti-btn-facebook btn-wave">
                <i class="ri-facebook-line"></i>
            </button>
            <button aria-label="button" type="button" class="ti-btn ti-btn-icon ti-btn-twitter btn-wave">
                <i class="ri-twitter-x-line"></i>
            </button>
            <button aria-label="button" type="button" class="ti-btn ti-btn-icon ti-btn-instagram btn-wave">
                <i class="ri-instagram-line"></i>
            </button>
        </div>
    </div>
</div>
  