<div class="col-span-1">
    <div class="flex items-center bg-light rounded-sm p-2 flex-wrap align-items-center gap-2">
        <div class="me-2">
            <span class="avatar avatar-lg bg-{{bgClass}}/10 !text-{{bgClass}} p-2" >
                <i class="{{iconClass}} text-lg leading-none"></i>
            </span>
        </div>
        <div class="flex-auto">
            <span class="font-semibold block mb-0">{{category}}</span>
            <span class="text-textmuted dark:text-textmuted/50 block text-xs mb-0">{{250}}</span>
        </div>
    </div>
</div>