<div
  class="columns-wrapper grid gap-4"
  [style.gridTemplateColumns]="'repeat(' + columnsField.columns.length + ', minmax(0, 1fr))'"
  cdkDropListGroup
>
  <div
    class="column-panel border border-dashed border-defaultborder rounded-md p-3 bg-white dark:bg-bodybg"
    *ngFor="let column of columnsField.columns; let c = index"
  >
    <div
      class="column-dropzone border border-defaultborder rounded p-3 bg-bodybg2 dark:bg-bodybg"
      cdkDropList
      [id]="getColumnListId(column)"
      [cdkDropListData]="column.fields"
      [cdkDropListConnectedTo]="connectedTargetsFor(getColumnListId(column))"
      (cdkDropListDropped)="onDropOnColumn(c, $event)"
    >
      <div *ngIf="!column.fields.length"
           class="text-xs italic text-mutedtextcolor py-4 text-center">
        Drop fields for {{ column.title }} here
      </div>

      <div
        *ngFor="let innerField of column.fields; let innerIndex = index"
        class="column-inner-field border border-defaultborder rounded-md p-2 mb-2 bg-white dark:bg-bodybg shadow-sm"
        cdkDrag
      >

        <!-- SIMPLE FIELDS -->
        <div
          *ngIf="innerField.type === 'text' || innerField.type === 'dropdown' || innerField.type === 'checkbox'; else complexBlock"
          class="flex items-center gap-3"
        >
          <input [(ngModel)]="innerField.label" type="text" class="form-input w-40" placeholder="Label" />

          <ng-container [ngSwitch]="innerField.type">
            <ng-container *ngSwitchCase="'text'">
              <input [(ngModel)]="innerField.value" class="form-input flex-1" placeholder="Enter text" />
              <input [(ngModel)]="innerField.key" class="form-input w-48" placeholder="Key" />
            </ng-container>

            <ng-container *ngSwitchCase="'dropdown'">
              <select [(ngModel)]="innerField.value" class="form-select flex-1">
                <option *ngFor="let opt of innerField.options" [ngValue]="opt">{{ opt }}</option>
              </select>
            </ng-container>

            <ng-container *ngSwitchCase="'checkbox'">
              <label class="inline-flex items-center gap-2">
                <input [(ngModel)]="innerField.value" type="checkbox" class="form-checkbox" />
                Checked
              </label>
            </ng-container>
          </ng-container>

          <button
            class="text-xs bg-red-500 text-white rounded-full w-5 h-5 flex items-center justify-center"
            (click)="onDeleteNestedField(c, innerIndex)"
          >
            &times;
          </button>
        </div>

        <!-- COMPLEX FIELDS (SPREADSHEET) -->
        <ng-template #complexBlock>
          <div class="w-full">
            <div *ngIf="innerField.type === 'handsontable'" class="relative border rounded-md overflow-hidden">
              <button
                class="absolute -top-2 -right-2 bg-red-500 text-white rounded-full w-5 h-5 flex items-center justify-center"
                (click)="onDeleteNestedField(c, innerIndex)"
              >
                &times;
              </button>

              <app-handsontable
                [hotId]="innerField.id"
                [saveVersion]="saveVersion"
                (submitPayload)="emitSpreadsheetSubmit(c, innerField.id, $event)"
              ></app-handsontable>
            </div>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>
