<div class="box social-cards {{socialmedia.socialicon}}">
    <div class="box-body flex-auto">
        <div class="flex flex-wrap gap-2 items-center justify-between {{socialmedia.customClass}}">
            <div>
                <p class="flex-auto text-[15px] font-medium mb-1 text-{{socialmedia.bg}}">{{socialmedia.title}}</p>
                <p class="mb-2 text-2xl font-medium">{{socialmedia.value}}</p>
                <div class="flex-between">
                    <span class="text-textmuted dark:text-textmuted/50 text-xs me-1">{{socialmedia.graph}}</span>
                    <span class="text-{{socialmedia.color}} inline-block"><i class="me-1 {{socialmedia.percentageIcon}} text-[10px]"></i>{{socialmedia.percentage}}</span>
                </div>
            </div>
            <div class="align-self-center ms-auto">
                <span class="avatar avatar-md bg-transparent text-{{socialmedia.color}}"><i class="ri-{{socialmedia.socialmedia}}-line text-[25px] leading-none"></i></span>
            </div>
        </div>
    </div>
</div>